<div class="flex flex-row" (mouseleave)="onMouseLeave()">
    <div  class="flex flex-col w-12 h-screen items-center z-40 solidsidebar" (mouseenter)="onMouseEnter()">
        <img src="../../assets/image/gmf-nobg.png"  alt="GMF AeroAsia" class="mt-4 mr-1">
        <div class="flex flex-col text-blue-200 font-semibold text-md mt-[20vh]" *ngIf="sidebarExtend" [@showHide3]>
            <span>V</span><span>E</span><span>N</span><span>D</span><span>O</span><span>R</span><span>-</span><span>A</span><span>P</span><span>P</span>
        </div>
    </div>

    <div class="absolute flex flex-col pt-[28vh] ml-3.5 z-50" (mouseover)="sidebarExtend=true">
        <hero-icon 
        [@showHide]
        *ngIf="heroiconSolid"
        name="globe-alt" 
        class="h-5 w-5 text-blue-200 mb-1 cursor-pointer"></hero-icon>
        <hero-icon 
    [@showHide]
    *ngIf="heroiconSolid"
    name="users" 
    class="h-5 w-5 text-blue-200 mt-4 cursor-pointer"></hero-icon>
    </div>
    
    <div
    class="h-screen bgsidebar absolute z-35 w-[180px] ml-12 " 
    *ngIf="sidebarExtend" 
    [@showHide2]>
    <div class="sidebarisi h-screen">
        <div routerLink="/dashboard" class="sidebarisi flex justify-center cursor-pointer">
            <img 
            src="https://upload.wikimedia.org/wikipedia/en/0/02/Stewie_Griffin.png" 
            style="max-width: 180px;max-height: 180px;" 
            alt="Vendors Management"
            class="fixed">
        </div>
        <div class="flex justify-center">
            <div class="flex flex-col w-[95%]">
                <div  class="list-sidebar p-1 pb-2 cursor-pointer text-stone-950 hover:font-semibold mt-[28vh]" 
                    routerLink="/vendors">
                    <hero-icon name="globe-alt" class="h-5 w-5"></hero-icon>
                    Vendor List
                </div>
                <div  class="list-sidebar p-1 pb-2 cursor-pointer text-stone-950 hover:font-semibold"
                    routerLink="/users">
                    <hero-icon name="users" class="h-5 w-5"></hero-icon>
                    User
                </div>
            </div>
</div>
</div>
</div>

</div>