.outlineButt{
    outline-style: solid;
    outline-color:#0D98BA;
    outline-offset: 0;
    outline-width: thin;
    color: #0D98BA
}

.outlineButt:hover{
    outline-color:#0565FF;
    color:#0565FF
}

button:disabled{
    cursor:not-allowed;
}

button:disabled:hover{
    color:white
}