<div class="form-control">
  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row items-center">
      <label
        [for]="inputId"
        class="font-jakarta flex items-center text-sm text-center"
        >{{ label }}
        <span class="ml-2 text-xs font-light" *ngIf="description"
          >( Desc. : {{ description }} )</span
        >
        <div class="hovertext flex items-center" [attr.data-hover]="tooltip">
          <hero-icon
            *ngIf="tooltip"
            name="exclamation-circle"
            class="h-4 w-4 cursor-pointer flex text-right fill-tms-blue-500 text-white"
          ></hero-icon>
        </div>
      </label>
    </div>
    <div class="h-4" *ngIf="focus || control.pristine"></div>
    <hero-icon
      *ngIf="control.invalid && control.dirty && control.touched"
      name="x-circle"
      class="h-4 w-4 fill-tms-error-600 text-white"
    ></hero-icon>
    <hero-icon
      *ngIf="control.valid"
      name="check-circle"
      class="h-4 w-4 fill-tms-green-500 text-white"
    ></hero-icon>
  </div>
  <input
    oninput="inputType = 'text'?this.value = this.value.toUpperCase(): this.value"
    [formControl]="control"
    [type]="inputType"
    [id]="inputId"
    [class.invalid]="control.invalid && control.dirty && control.touched"
    class="bg-gray-100 disabled:bg-tms-neutral-600 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full"
    [ngClass]="border ? 'border-gray-300 border' : 'border-transparent border'"
    [ngClass]="size"
    [placeholder]="placeholder"
    [style]="style"
    (focus)="onFocus()"
    (blur)="onBlur()"
    type="text"
    [attr.border-data]="borderData"
  />
  <ng-container *ngIf="control.invalid && control.dirty && control.touched">
    <div
      *ngFor="let err of control.errors | keyvalue"
      class="text-xs font-jakarta text-tms-error-700"
    >
      {{ errorMessage[err.key] }}
    </div>
  </ng-container>
</div>
