<div class="form-control ">
    <div class="flex flex-row items-center h-16 " >
        <div class="flex flex-col items-left w-[95%] pr-[5%] ml-2">
            <label
            [@labelMove]="labelState" 
            [ngClass]=""
            class="font-jakarta flex text-md" 
            [for]="idInput" 
            *ngIf="label">{{label}}</label>

            <input 
            [ngClass]="focusOrNoClass"
            (focus)="onFocus()"
            (blur)="onBlur()"
            (input)="inputValLen($event)"
            [type]="inputType" 
            [id]="idInput"
            [formControl]="control"
            class="h-[38px] px-3 py-1 border-2 border-gray-300 bg-gray-100 rounded-md ">
        </div>
    </div>
</div>