input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
}

.invalidInput{
    border:1px solid red
}

.focusInput{
    background-color: blue;
}

input:focus{
    background-color: whitesmoke;
    outline:none;
    border: 1px solid #002561;
}