<!-- component -->
<div class="flex rounded-md flex-row gap-3">
  <div 
    *ngFor="let step of stepper; let stepperIndex = index" 
    class="cursor-pointer flex flex-row align-middle w-full rounded-md border-solid border border-tms-neutral-400 p-2"
    [ngClass]="{
      'bg-tms-blue-500 text-white border-transparent': selectedStepper?.id == step.id,
      'hover:bg-tms-blue-100': selectedStepper?.id != step.id
    }"
    (click)="selectStepper(step, stepperIndex)"
  >
    <div 
      [ngClass]="{
        'border-white':selectedStepper?.id == step.id, 
        'border-tms-blue-600': selectedStepper?.id != step.id
      }" 
      class="flex border-solid border w-11 h-11 justify-center items-center align-middle  rounded-full">
      <hero-icon 
        class="m-auto items-center text-center h-5 w-5"
        [ngClass]="{
          'text-white ':selectedStepper?.id == step.id, 
          'text-tms-blue-600': selectedStepper?.id != step.id
        }" 
        [name]="step.icon"
      ></hero-icon>
    </div>
    <div class="flex flex-col ml-4">
      <span 
        class="text-md font-bold"
        [ngClass]="{
          'text-white':selectedStepper?.id == step.id, 
          'text-tms-blue-600': selectedStepper?.id != step.id
        }"
      >{{ step.title }}</span>
      <span>{{ step.desc }}</span>
    </div>
  </div>
  
</div>
<div class="mt-3">
  <!-- Stepper Content -->
  <ng-content></ng-content>
  <!-- End of Stepper Content -->

  <!-- Start of Button Panel Area -->
  <div class="flex pt-4" *ngIf="buttonEnable">
    <app-button
      color="secondary"
      size="large"
      icon="arrow-left"
      *ngIf="prevButtonStatus"
      (click)="prevStep()"
      >Previous</app-button>
      <div class="flex-auto flex flex-row-reverse">
        <app-button
        color="primary"
        size="large"
        icon="arrow-right"
        *ngIf="nextButtonStatus"
        (click)="nextStep()"
        >Next</app-button>

      <ng-content select="[finishAction]" *ngIf="currentIndex == (stepper!.length - 1)"></ng-content>
    </div>
  </div>
  <!-- End of Button Panel Area -->
</div>